<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flipcam">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".ControlVisbilityPreference"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="790824425492" />

        <activity android:name=".PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MediaActivity"
            android:configChanges="orientation|screenSize" />
        <service
            android:name=".service.GoogleDriveUploadService"
            android:description="@string/googleDriveService"
            android:exported="false" />
        <service
            android:name=".service.DropboxUploadService"
            android:description="@string/dropboxService"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize">
            <action android:name="com.google.android.apps.drive.DRIVE" />
        </activity>
        <activity
            android:name=".MemoryLimitActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GalleryActivity"
            android:configChanges="orientation|screenSize" />

        <provider
            android:name=".data.MediaProvider"
            android:authorities="@string/content_authority" />

        <activity
            android:name=".PhotoSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/photoSettingsTitle" />
        <activity
            android:name=".VideoSettingsActivity"
            android:label="@string/videoSettingsTitle" />
    </application>

</manifest>